.cache # Local cache should not affect image
.php-cs-fixer.dist.php
.gitignore
docker/Dockerfile
generated/ # Local codegen should not affect image
phpstan.neon
phpstan.dist.neon
phpunit.xml
phpunit.xml.dist
public/index.php # Image uses api.php and mocking.php
LICENSE
README.md
storage/*.db # Local databases should not affect image
tests/
vendor/ # Local dependencies should not affect image
