<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         beStrictAboutCoverageMetadata="true"
         beStrictAboutOutputDuringTests="true"
         bootstrap="vendor/autoload.php"
         cacheDirectory=".cache/phpunit"
         colors="true"
         defaultTestSuite="default"
         displayDetailsOnAllIssues="true"
         executionOrder="depends,defects"
         failOnPhpunitDeprecation="true"
         failOnRisky="true"
         failOnWarning="true"
         requireCoverageMetadata="true">
    <testsuites>
        <testsuite name="default">
          <directory groups="unit">tests/unit</directory>
          <directory groups="integration">tests/integration</directory>
          <directory groups="fixture">tests/fixture</directory>
        </testsuite>
      <testsuite name="e2e">
        <directory groups="e2e">tests/e2e</directory>
      </testsuite>
      <testsuite name="full">
        <directory groups="unit">tests/unit</directory>
        <directory groups="integration">tests/integration</directory>
        <directory groups="fixture">tests/fixture</directory>
        <directory groups="e2e">tests/e2e</directory>
      </testsuite>
    </testsuites>
  <coverage>
    <report>
      <!-- Uncomment the below line whenever you need an HTML report -->
      <!-- <html outputDirectory=".cache/coverage-report"/>-->
      <text outputFile="php://stdout" showOnlySummary="true"/>
    </report>
  </coverage>

    <source ignoreIndirectDeprecations="true"
            restrictNotices="true"
            restrictWarnings="true">
        <include>
          <directory>src</directory>
          <directory>tests/fixture</directory>
        </include>
    </source>
</phpunit>
