name: Publish to Github Container Registry

on:
  push:
    branches: [main]
  release:
    types: [published]

jobs:
  dagger:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - name: Check out the repo
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

        # https://github.com/docker/login-action?tab=readme-ov-file#github-container-registry
      - name: Log in to Github Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Dagger Build & Push
        uses: dagger/dagger-for-github@v5
        with:
          version: "0.19.6"
          verb: call
          args: publish --registry=$DOCKER_REGISTRY.
        env:
          DOCKER_REGISTRY: ghcr.io
